<ul class="timeline-list">
    @for (int i = 0; i < ViewBag.RedirectExercises.Count; i++)
    {
        <li>
            <a asp-controller="Exercises" asp-action="@ViewBag.RedirectExercises[i].Action"
           asp-route-courseId="@ViewBag.RedirectExercises[i].CourseId"
           asp-route-moduleId="@ViewBag.RedirectExercises[i].ModuleId"
           asp-route-lessonId="@ViewBag.RedirectExercises[i].LessonId"
           asp-route-exerciseId="@ViewBag.RedirectExercises[i].ExerciseId">
                @if (ViewBag.Attempts[i] != null && ViewBag.Attempts[i].IsCompleted && ViewBag.Attempts[i].ExerciseId == ViewBag.RedirectExercises[i].ExerciseId)
                {   
                    if (i == 0)
                    {
                        <img src="~/img/timelines/horizontal-start-completed-timeline.svg" />
                    }
                    else if (i == ViewBag.RedirectExercises.Count - 1)
                    {
                        <img src="~/img/timelines/horizontal-end-completed-timeline.svg" />
                    }
                    else
                    {
                        <img src="~/img/timelines/horizontal-middle-completed-timeline.svg" />
                    } 
                }
                else
                {  
                    if (i == 0)
                    {
                        <img src="~/img/timelines/horizontal-start-timeline.svg" />
                    }
                    else if (i == ViewBag.RedirectExercises.Count - 1)
                    {
                        <img src="~/img/timelines/horizontal-end-timeline.svg" />
                    }
                    else
                    {
                        <img src="~/img/timelines/horizontal-middle-timeline.svg" />
                    }   
                }
            </a>
        </li>
    }
</ul>