<ul class="timeline-list">
    @for (int i = 0; i < ViewBag.RedirectExercises.Count; i++)
    {
        <li>
            <a asp-controller="Exercises" asp-action="@ViewBag.RedirectExercises[i].Action"
           asp-route-courseId="@ViewBag.RedirectExercises[i].CourseId"
           asp-route-moduleId="@ViewBag.RedirectExercises[i].ModuleId"
           asp-route-lessonId="@ViewBag.RedirectExercises[i].LessonId"
           asp-route-exerciseId="@ViewBag.RedirectExercises[i].ExerciseId">
                @if (ViewBag.RedirectExercises[i].ExerciseId == ViewBag.Exercise.ExerciseId)
                {
                    <img src="~/img/timelines/selected-timeline.svg" />
                    @ViewBag.RedirectExercises[i].ExerciseName;
                }
                else
                {
                    @if (ViewBag.Attempts[i] != null && ViewBag.Attempts[i].IsCompleted && ViewBag.Attempts[i].ExerciseId == ViewBag.RedirectExercises[i].ExerciseId)
                    {
                        <img src="~/img/timelines/completed-timeline.svg" />
                        @ViewBag.RedirectExercises[i].ExerciseName;
                    }
                    else
                    {
                        <img src="~/img/timelines/timeline.svg" />
                        @ViewBag.RedirectExercises[i].ExerciseName;
                    }
                }
            </a>
        </li>
    }
</ul>