@using EdPlatform.Business.Models
@model FillExerciseCheckModel

<div class="details-page">
    <div class="navigation-panel">
        <div class="name">
            <a asp-controller="Lessons" asp-action="Details" 
                asp-route-courseId="@ViewBag.Exercise.Lesson.Module.CourseId"
                asp-route-moduleId="@ViewBag.Exercise.Lesson.ModuleId"
                asp-route-lessonId="@ViewBag.Exercise.LessonId">@ViewBag.Exercise.Lesson.Order. @ViewBag.Exercise.Lesson.LessonName</a>
        </div>
        <ul class="timeline-list">
            @for (int i = 0; i < ViewBag.RedirectExercises.Count; i++)
            {
                <li>
                    <a asp-controller="Exercises" asp-action="@ViewBag.RedirectExercises[i].Action"
                   asp-route-courseId="@ViewBag.RedirectExercises[i].CourseId"
                   asp-route-moduleId="@ViewBag.RedirectExercises[i].ModuleId"
                   asp-route-lessonId="@ViewBag.RedirectExercises[i].LessonId"
                   asp-route-exerciseId="@ViewBag.RedirectExercises[i].ExerciseId">
                        @if (i == 0)
                        {
                            <img src="~/img/horizontal-start-timeline.svg" />
                        }
                        else if (i == ViewBag.RedirectExercises.Count - 1)
                        {
                            <img src="~/img/horizontal-end-timeline.svg" />
                        }
                        else
                        {
                            <img src="~/img/horizontal-middle-timeline.svg" />
                        }
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="page-content">
        <div class="title">
            <h2>@ViewBag.Exercise.ExerciseName</h2>
        </div>
        <div class="lecture">
            @Html.Raw(ViewBag.Exercise.Problem)
        </div>

        <div class="code">
            <form asp-controller="Exercises" asp-action="FillExerciseDetails" method="post">
                <div>
                    <input asp-for="UserAnswer" data-editor="python" id="editor" value="@Model.UserAnswer" />
                </div>
                <input type="hidden" asp-for="Answer" value="@ViewBag.Exercise.Answer" />
                <input type="hidden" asp-for="ExerciseId" value="@ViewBag.Exercise.ExerciseId" />
                <input type="hidden" asp-for="UserId" value="@Convert.ToInt32(User.FindFirst("UserId").Value)" />

                <div class="code-buttons">
                    <button type="submit" class="send">Перевірити</button>
                </div>
            </form>
        </div>

        <div class="buttons">
            <a>Перейти до наступної вправи</a>
        </div>
    </div>
</div>

<style>
    html.dark .content {
        background-color: #232F3A;
    }

    html.light .content {
        background-color: #3f668a;
    }
</style>
