@using EdPlatform.Business.Models
@model FillExerciseCheckModel

<div class="details-page">
    <div class="navigation-panel">
        <div class="name">
            <a asp-controller="Lessons" asp-action="Details"
               asp-route-courseId="@ViewBag.Exercise.Lesson.Module.CourseId"
               asp-route-moduleId="@ViewBag.Exercise.Lesson.ModuleId"
               asp-route-lessonId="@ViewBag.Exercise.LessonId">@ViewBag.Exercise.Lesson.Order. @ViewBag.Exercise.Lesson.LessonName</a>
        </div>
        <partial name="_RedirectExercisesPartial"></partial>
    </div>

    <div class="page-content">
        <div class="title">
            <h2>@ViewBag.Exercise.ExerciseName</h2>
        </div>
        <div class="lecture">
            @Html.Raw(ViewBag.Exercise.Problem)
        </div>

        <div class="code">
            <form asp-controller="Exercises" asp-action="FillExerciseDetails" method="post">
                @{
                    var userAnswer = "";
                    if (ViewBag.Attempt != null)
                        userAnswer = ViewBag.Attempt.UserAnswer;
                }

                <div>
                    <input asp-for="UserAnswer" data-editor="python" id="editor" value="@userAnswer" />
                </div>

                <input type="hidden" asp-for="Answer" value="@ViewBag.Exercise.Answer" />
                <input type="hidden" asp-for="ExerciseId" value="@ViewBag.Exercise.ExerciseId" />
                <input type="hidden" asp-for="UserId" value="@Convert.ToInt32(User.FindFirst("UserId").Value)" />

                <div class="code-buttons">
                    <button type="submit" class="send">Перевірити</button>
                </div>
            </form>
        </div>

        <div class="buttons">
            @foreach (var exercise in ViewBag.RedirectExercises)
            {
                if (@exercise.ExerciseId > ViewBag.Exercise.ExerciseId)
                {
                    <a asp-controller="Exercises"
               asp-action="@exercise.Action"
               asp-route-courseId="@exercise.CourseId"
               asp-route-moduleId="@exercise.ModuleId"
               asp-route-lessonId="@exercise.LessonId"
               asp-route-exerciseId="@exercise.ExerciseId">
                        Перейти до наступної вправи
                    </a>

                    break;
                }
            }
        </div>
    </div>
</div>

<style>
    html.dark .content {
        background-color: #232F3A;
    }

    html.light .content {
        background-color: #3f668a;
    }
</style>
