@model CaseViewModel

<div class="details-page">
    <div class="navigation-panel">
        <div class="name">
            <a asp-controller="Lessons" asp-action="Details" 
                asp-route-courseId="@ViewBag.Exercise.Lesson.Module.CourseId"
                asp-route-moduleId="@ViewBag.Exercise.Lesson.ModuleId"
                asp-route-lessonId="@ViewBag.Exercise.LessonId">@ViewBag.Exercise.Lesson.Order. @ViewBag.Exercise.Lesson.LessonName</a>
        </div>
        <partial name="_RedirectExercisesPartial"></partial>
    </div>

    <div class="page-content">
        <div class="title">
            <h2>@ViewBag.Exercise.ExerciseName</h2>
        </div>
        <div class="lecture">
            @Html.Raw(ViewBag.Exercise.Problem)
        </div>

        <div class="code">
            <form asp-controller="Exercises" asp-action="QuizDetails" method="post">
                @foreach (var quizCase in ViewBag.Exercise.Cases)
                {
                    <div>
                        <label asp-for="IsCorrect">@quizCase.CaseName</label>
                        <input asp-for="IsCorrect" type="radio" id="CaseId" value="@quizCase.IsCorrect" 
                            checked="@((ViewBag.Attempt != null && quizCase.CaseId == int.Parse(ViewBag.Attempt.UserAnswer)) ? "True" : "False")" />
                        <input asp-for="CaseId" type="hidden" for="@quizCase.CaseId" value="@quizCase.CaseId">
                    </div>
                }

                <div class="code-buttons">
                    <button type="submit" class="send">Перевірити</button>
                </div>
            </form>
        </div>

        <div class="buttons">
            @foreach (var exercise in ViewBag.RedirectExercises)
            {
                if (@exercise.ExerciseId > ViewBag.Exercise.ExerciseId)
                {
                    <a asp-controller="Exercises"
               asp-action="@exercise.Action"
               asp-route-courseId="@exercise.CourseId"
               asp-route-moduleId="@exercise.ModuleId"
               asp-route-lessonId="@exercise.LessonId"
               asp-route-exerciseId="@exercise.ExerciseId">
                        Перейти до наступної вправи
                    </a>

                    break;
                }
            }
        </div>
    </div>
</div>