@using EdPlatform.Business.Models
@model LessonModel

<div class="details-page">
    <div class="navigation-panel">
        <div class="name">
            <a asp-controller="Courses" asp-action="Details" asp-route-courseId="@Model.Module.CourseId">@Model.Module.Course.CourseName</a>
        </div>
        <ul class="timeline-list">
            @{
                List<LessonModel> lessons = Model.Module.Lessons.OrderBy(x => x.Order).ToList();
            }

            @for (int i = 0; i < lessons.Count(); i++)
            {
                <li>
                    <a asp-controller="Lessons" asp-action="Details"
                   asp-route-courseId="@Model.Module.CourseId"
                   asp-route-moduleId="@Model.ModuleId"
                   asp-route-lessonId="@lessons[i].LessonId">
                        @if (ViewBag.CompletedLessons[i] != null && ViewBag.CompletedLessons[i].IsCompleted && ViewBag.CompletedLessons[i].LessonId == lessons[i].LessonId)
                        {
                            @if (lessons[i].LessonId == Model.LessonId)
                            {
                                @if (i == 0)
                                {
                                    <img src="~/img/timelines/horizontal-start-completed-selected-timeline.svg" />
                                }
                                else if (i == lessons.Count() - 1)
                                {
                                    <img src="~/img/timelines/horizontal-end-completed-selected-timeline.svg" />
                                }
                                else
                                {
                                    <img src="~/img/timelines/horizontal-middle-completed-selected-timeline.svg" />
                                }
                            }
                            else
                            {
                                @if (i == 0)
                                {
                                    <img src="~/img/timelines/horizontal-start-completed-timeline.svg" />
                                }
                                else if (i == lessons.Count() - 1)
                                {
                                    <img src="~/img/timelines/horizontal-end-completed-timeline.svg" />
                                }
                                else
                                {
                                    <img src="~/img/timelines/horizontal-middle-completed-timeline.svg" />
                                }
                            }
                        }
                        else
                        {
                            @if (lessons[i].LessonId == Model.LessonId)
                            {
                                @if (i == 0)
                                {
                                    <img src="~/img/timelines/horizontal-start-selected-timeline.svg" />
                                }
                                else if (i == lessons.Count() - 1)
                                {
                                    <img src="~/img/timelines/horizontal-end-selected-timeline.svg" />
                                }
                                else
                                {
                                    <img src="~/img/timelines/horizontal-middle-selected-timeline.svg" />
                                }
                            }
                            else
                            {
                                @if (i == 0)
                                {
                                    <img src="~/img/timelines/horizontal-start-timeline.svg" />
                                }
                                else if (i == lessons.Count() - 1)
                                {
                                    <img src="~/img/timelines/horizontal-end-timeline.svg" />
                                }
                                else
                                {
                                    <img src="~/img/timelines/horizontal-middle-timeline.svg" />
                                }
                            }
                        }
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="page-content">
        <div class="title">
            <h2>@Model.Order. @Model.LessonName</h2>
        </div>
        <div class="lecture">
            @Html.Raw(Model.LessonContent)
        </div>

        @if (ViewBag.NotSolvedExercise != null)
        {
            <div class="buttons">
                <a asp-controller="Exercises"
               asp-action="@ViewBag.NotSolvedExercise.Action"
               asp-route-courseId="@ViewBag.NotSolvedExercise.CourseId"
               asp-route-moduleId="@ViewBag.NotSolvedExercise.ModuleId"
               asp-route-lessonId="@ViewBag.NotSolvedExercise.LessonId"
               asp-route-exerciseId="@ViewBag.NotSolvedExercise.ExerciseId">Перейти до вправ</a>
            </div>
        }

    </div>
</div>

<style>
    html.dark .content {
        background-color: #232F3A;
    }

    html.light .content {
        background-color: #3f668a;
    }
</style>