@using EdPlatform.Business.Models
@model LessonModel

<div class="details-page">
    <nav class="navigation-panel">
        <div class="name">
            <a asp-controller="Courses" asp-action="Details" asp-route-courseId="@Model.Module.CourseId">@Model.Module.Course.CourseName</a>
        </div>
        
        <div class="module-name">
            <img src="~/img/timelines/selected-timeline.svg" />
            <a href="#">@Model.Module.ModuleName</a>
        </div>

        <ul class="timeline-list">
            @{
                List<LessonModel> lessons = Model.Module.Lessons.OrderBy(x => x.Order).ToList();
            }

            @for (int i = 0; i < lessons.Count(); i++)
            {
                <li>
                    <a asp-controller="Lessons" asp-action="Details"
                   asp-route-courseId="@Model.Module.CourseId"
                   asp-route-moduleId="@Model.ModuleId"
                   asp-route-lessonId="@lessons[i].LessonId">
                        @if (ViewBag.CompletedLessons[i] != null && ViewBag.CompletedLessons[i].IsCompleted && ViewBag.CompletedLessons[i].LessonId == lessons[i].LessonId)
                        {
                            @if (lessons[i].LessonId == Model.LessonId)
                            {
                                <img src="~/img/timelines/selected-timeline.svg" />
                                @lessons[i].LessonName
                            }
                            else
                            {
                                <img src="~/img/timelines/completed-timeline.svg" />
                                @lessons[i].LessonName
                            }
                        }
                        else
                        {
                            @if (lessons[i].LessonId == Model.LessonId)
                            {
                                <img src="~/img/timelines/selected-timeline.svg" />
                                @lessons[i].LessonName
                            }
                            else
                            {
                                <img src="~/img/timelines/timeline.svg" />
                                @lessons[i].LessonName
                            }
                        }
                    </a>
                </li>
            }
        </ul>
    </nav>

    <div class="page-content">
        <div class="lecture-title">
            <h2>@Model.Order. @Model.LessonName</h2>
        </div>
        <div class="lecture">
            @Html.Raw(Model.LessonContent)
        </div>

        @if (ViewBag.NotSolvedExercise != null)
        {
            <div class="buttons">
                <a asp-controller="Exercises"
               asp-action="@ViewBag.NotSolvedExercise.Action"
               asp-route-courseId="@ViewBag.NotSolvedExercise.CourseId"
               asp-route-moduleId="@ViewBag.NotSolvedExercise.ModuleId"
               asp-route-lessonId="@ViewBag.NotSolvedExercise.LessonId"
               asp-route-exerciseId="@ViewBag.NotSolvedExercise.ExerciseId">Перейти до вправ</a>
            </div>
        }

    </div>
</div>

<style>
    footer{
        display: none;
    }

    .navigation-panel{
        height: calc(100% - 48px) !important;
    }
</style>