@using EdPlatform.Business.Models
@model CourseUserModel

@functions {
    public string GerSubscribersString(int usersJoined)
    {
        if (Enumerable.Range(11, 15).Contains(usersJoined))
        {
            return "підписників";
        }
        else
        {
            var temp = usersJoined % 10;

            if (Enumerable.Range(5, 11).Contains(temp) || temp == 0)
                return "підписників";
            else if (temp == 1)
                return "підписник";
            else
                return "підписники";
        }
    }
}

<div class="title">
    <div class="info">
        <div class="tag"><a href="#">@ViewBag.Course.Category.CategoryName</a></div>
        <h2>@ViewBag.Course.UsersJoined @GerSubscribersString(ViewBag.Course.UsersJoined)</h2>
    </div>

    <div class="course">
        <div class="sector">
            <h2>@ViewBag.Course.CourseName</h2>
            <div class="short-description">
                @ViewBag.Course.ShortDescription
            </div>

            @if (ViewBag.CourseUser == null)
            {
                <form asp-controller="Courses" asp-action="Details" method="post">
                    <input asp-for="UserId" type="hidden" value="@ViewBag.UserId" />
                    <input asp-for="CourseId" type="hidden" value="@ViewBag.Course.CourseId" />

                    <button type="submit" class="join-button">Підписатися</button>
                </form>
            }
        </div>

        <div class="sector">
            <img src="@("https://ed-platform.s3.amazonaws.com/"+ViewBag.Course.ImageName)" alt="test image" />

            <div class="status">створено 05.08.2020 </div>
            <div class="status">оновлено 05.08.2022 </div>
        </div>
    </div>

    <div class="description-cover">
        <div class="description">
            <h2>Про курс: </h2>

            <h2>@Html.Raw(ViewBag.Course.Description)</h2>
          
            <h2>Зміст курсу:</h2>
        </div>

        <div class="comments-cover">
            <div class="comment-info">
                <a>0</a>
                <h2>коментарів</h2>
            </div>
            <div class="comment"></div>
        </div>
    </div>

    
</div>

<div class="table-of-contents">
@foreach (var module in (ViewBag.Course as CourseModel).Modules.OrderBy(x => x.Order))
{
    <div class="module">
        <div class="module-title">
            <h2>@module.Order. @module.ModuleName</h2>
        </div>
        <div class="lessons-list">
            <ul>
                @{
                    var lessons = module.Lessons.OrderBy(x => x.Order);
                }

                @for (int i = 0; i < lessons.Count(); i++)
                {
                    <li>
                        @if (ViewBag.CompletedLessons[i] != null && ViewBag.CompletedLessons[i].ModuleId == module.ModuleId &&
                       ViewBag.CompletedLessons[i].IsCompleted)
                        {
                            @if (i == 0)
                            {
                                <img src="~/img/timelines/vertical-start-completed-timeline.svg" />
                            }
                            else if (i == lessons.Count() - 1)
                            {
                                <img src="~/img/timelines/vertical-end-completed-timeline.svg" />
                            }
                            else
                            {
                                <img src="~/img/timelines/vertical-middle-completed-timeline.svg" />
                            }
                        }
                        else
                        {
                            @if (i == 0)
                            {
                                <img src="~/img/timelines/vertical-start-timeline.svg" />
                            }
                            else if (i == lessons.Count() - 1)
                            {
                                <img src="~/img/timelines/vertical-end-timeline.svg" />
                            }
                            else
                            {
                                <img src="~/img/timelines/verical-middle-timeline.svg" />
                            }
                        }

                        <a asp-route-courseId="@ViewBag.Course.CourseId" asp-route-moduleId="@module.ModuleId"
                    asp-route-lessonId="@lessons.ElementAt(i).LessonId" asp-action="Details"
                    asp-controller="Lessons">@lessons.ElementAt(i).LessonName</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
</div>

@*<div class="card">
    <div class="card-header">
    <h2>@ViewBag.Course.CourseName</h2>
    @if (ViewBag.CourseUser == null)
    {
    <form asp-controller="Courses" asp-action="Details" method="post">
    <input asp-for="UserId" type="hidden" value="@ViewBag.UserId" />
    <input asp-for="CourseId" type="hidden" value="@ViewBag.Course.CourseId"/>
    <button class="btn btn-primary" type="submit">Join</button>
    </form>
    }
    else
    {
    <span>You already joined in</span>
    }
    </div>
    <div class="card-body">
    <p class="card-text">@ViewBag.Course.Description</p>

    @if (ViewBag.Course.Modules != null)
    {
    @foreach (var module in (ViewBag.Course as CourseModel).Modules.OrderBy(x => x.Order))
    {
    <label>Modules:</label>
    <ul class="list-group">
    <li class="list-group-item">@module.ModuleName</li>

    @if (module.Lessons != null)
    {
    <li class="list-group-item">
    <ul class="list-group">
    @foreach (var lesson in module.Lessons.OrderBy(x => x.Order))
    {
    @if (ViewBag.CourseUser != null)
    {
    <li class="list-group-item">
    @lesson.LessonName
    <a asp-route-courseId="@ViewBag.Course.CourseId" asp-route-moduleId="@module.ModuleId"
    asp-route-lessonId="@lesson.LessonId" asp-action="Details" asp-controller="Lessons">Details</a>
    </li>
    }
    else
    {
    <li class="list-group-item">@lesson.LessonName</li>
    }
    }
    </ul>
    </li>
    }
    </ul>
    }
    }
    </div>
    </div>*@