@using EdPlatform.Business.Models
@model CourseViewModel

@* <div class="text-center">
    <h1 class="display-4">@Model.CourseName</h1>
    <p>In this page you can edit your course, don't forget to save changes</p>
    </div> *@

<form class="create-form" asp-controller="Courses" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-title">
        <h2>Відредагуйте курс</h2>
        <div class="line"></div>
    </div>

    <div class="form-body edit-form-body">
        <div class="form-group">
            <label asp-for="CourseName"></label>
            <input asp-for="CourseName" type="text" class="form-control" value="@Model.CourseName" />
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.SelectCategories"></select>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" id="course-description">@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group file">
            <div>Виберіть зображення курсу (jpg):</div>
            <label asp-for="Image"> (Jpeg only)</label>
            <input asp-for="Image" class="form-control" accept="image/jpeg" value="@Model.Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="ImageName" value="@Model.ImageName" />
        <input type="hidden" asp-for="CourseId" value="@Model.CourseId" />
        <input type="hidden" asp-for="UsersJoined" value="@Model.UsersJoined" />
        <input type="hidden" asp-for="ImageName" value="@Model.ImageName" />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-footer">
            <button class="btn btn-primary" type="submit">Зберегти зміни</button>
        </div>
    </div>
</form>

<div class="table-of-contents">
    <div class="create-module-cover">
        <a asp-controller="Modules" asp-action="Create" asp-route-courseId="@Model.CourseId">Добавити модуль</a>
    </div>

    @if (Model.Modules != null)
    {
        @foreach (var module in Model.Modules.OrderBy(x => x.Order))
        {
            <div class="module" style="margin: 16px auto;">
                <div class="module-title">
                    <h2>@module.ModuleName</h2>
                    <a class="edit-link" asp-controller="Modules" asp-action="Edit" asp-route-courseId="@Model.CourseId"
                asp-route-moduleId="@module.ModuleId">Відредагувати</a>
                </div>
            </div>
        }
    }
</div>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#course-description',
        height: "480"
    });
</script>