@using EdPlatform.Business.Models
@model CourseViewModel

<div class="text-center">
    <h1 class="display-4">@Model.CourseName</h1>
    <p>In this page you can edit your course, don't forget to save changes</p>
</div>


<form asp-controller="Courses" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="CourseName"></label>
        <input asp-for="CourseName" type="text" class="form-control" value="@Model.CourseName"/>
        <span asp-validation-for="CourseName" class="text-danger"></span>
    </div>
    <div class="from-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" id="course-description">@Model.Description</textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.SelectCategories"></select>
    </div>
    <div class="form-group">
        <label asp-for="Image"> (Jpeg only)</label>
        <input asp-for="Image" class="form-control" accept="image/jpeg" value="@Model.Image"/>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ImageName" value="@Model.ImageName" />
    <input type="hidden" asp-for="CourseId" value="@Model.CourseId" />
    <input type="hidden" asp-for="UsersJoined" value="@Model.UsersJoined" />
    <input type="hidden" asp-for="ImageName" value="@Model.ImageName" />
    <input type="hidden" asp-for="Category.CategoryId" value="@Model.CategoryId"/>
    
    <div asp-validation-summary="All" class="text-danger"></div>

    <button class="btn btn-primary" type="submit">Save changes</button>
</form>

<a asp-controller="Modules" asp-action="Create" asp-route-courseId="@Model.CourseId">Create module</a>

@if (Model.Modules != null)
{
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">Module Name</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var module in Model.Modules.OrderBy(x => x.Order))
    {
        <tr>
            <td>@module.ModuleName</td>
            <td><a asp-controller="Modules" asp-action="Edit" asp-route-courseId="@Model.CourseId" asp-route-moduleId="@module.ModuleId">Edit</a></td>
        </tr>
    }
    </tbody>
</table>
}

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#course-description',
        height: "480"
    });
</script>